body {
  font-size: 16px;
  color: #515769;
  font-family: 'Roboto Condensed', sans-serif;
  counter-reset: section;
}

.wrapper {
  width: 1024px;
  margin: 0 auto;
  padding: 48px;
  line-height: 1.5;
}

.block {
  margin: 24px 0;
  position: relative;

  &::before {
    counter-increment: section;
    content: counter(section) '. ';
    position: absolute;
    left: -20px;
    top: 0;
  }
}

.row {
  display: flex;
}

.list {
  padding-left: 24px;
}

.item {
  margin-bottom: 24px;
}


.important-text {
  font-weight: 700;
  padding-right: 8px;
}

.text {
  font-weight: 400;
}

.secondary-list li:before {
  content:  '—';
  position: relative;
  left: -8px;
  margin-left: 8px;
}
